* {
	margin: 0;
	padding: 0;
	outline: 0;
}

.side-bar a,.renyuzhuo-chat-tips i,.renyuzhuo-qq-tips i {
	background-image: url(http://me.renyuzhuo.cn/zzuhtzy/images/share.png);
	background-repeat: no-repeat;
}
.side-bar {
	width: 66px;
	position: fixed;
	bottom: 8px;
	right: 8px;
	font-size: 0;
	line-height: 0;
	z-index: 100;
}
.side-bar a {
	width: 66px;
	height: 66px;
	display: inline-block;
	background-color: #dddddd;
	margin-bottom: 5px;
}
.side-bar a:hover {
	background-color: #669fdd;
}

.side-bar .icon-qq {
	background-position: 0 -62px;
	position: relative;
}
.side-bar .icon-qq:hover .renyuzhuo-qq-tips {
	display: block;
}

.side-bar .icon-chat {
	background-position: 0 -130px;
	position: relative;
}
.side-bar .icon-chat:hover .renyuzhuo-chat-tips {
	display: block;
}

.side-bar .icon-mail {
	background-position: 0 -266px;
}

.renyuzhuo-chat-tips {
	padding: 3px;
	border: 1px solid #d1d2d6;
	position: absolute;
	right: 78px;
	top: -55px;
	background-color: #ffffff;
	display: none;
}
.renyuzhuo-chat-tips i {
	width: 9px;
	height: 16px;
	display: inline-block;
	position: absolute;
	right: -9px;
	top: 80px;
	background-position:-88px -350px;
}
.renyuzhuo-chat-tips img {
	width: 138px;
	height: 138px;
}

.renyuzhuo-qq-tips {
	padding: 3px;
	border: 1px solid #d1d2d6;
	position: absolute;
	right: 78px;
	top: -55px;
	background-color: #ffffff;
	display: none;
}
.renyuzhuo-qq-tips i {
	width: 9px;
	height: 16px;
	display: inline-block;
	position: absolute;
	right: -9px;
	top: 80px;
	background-position:-88px -350px;
}
.renyuzhuo-qq-tips img {
	width: 138px;
	height: 138px;
}
